<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>

    <!--Error and Logs-->
    <p th:if="${param.logout}">You have been logged out.</p>
    <p th:if="${param.error}">Invalid username or password.</p>

    <!--Login Form-->
    <form action="#" th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <p><a th:href="@{/forgot-password}">Forgot Password?</a></p>
        <button type="submit">Login</button>
    </form>  

</body>
</html>
