<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Poppin Party</title>

  <link rel="icon" th:href="@{/img/logowhite.png}" type="image/png" />

  <link rel="stylesheet" th:href="@{/styles.css}" />
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"/>
</head>
<body>
  <header class="sticky-header">
    <div class="header-inner">
      <div class="logo">
        <a th:href="@{/home}"><img th:src="@{/img/logowhite.png}" alt="logo" id="logo"></a>
      </div>
      <div class="search">
        <input type="text" class="search-input" placeholder="Search">
        <button class="search-button">
          <img th:src="@{/img/search.png}" alt="search">
        </button>
      </div>
      <div class="header-actions">
        <div class="account-button">
          <a th:href="@{/dummy}">
            <img th:src="@{/img/account.png}" alt="user" id="user">
          </a>
        </div>
      </div>
    </div>
  </header>


    <main>
        <table class="table-section">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Category</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.item_name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stock}"></td>
                <td th:text="${product.category}"></td>
                <td>
                    <a th:href="@{'/products/edit/' + ${product.id}}">Edit</a>
                    |
                    <a th:href="@{'/products/delete/' + ${product.id}}"
                       onclick="return confirm('Delete this item?');">Delete</a>
                </td>
            </tr>
        </table>
        <div class="addproduct-container">
            <a th:href="@{/products/add}">
                <button class="addproduct-button"> Add New Product</button>
            </a>
        </div>
    </main>
    <footer>
        <div class="footer-container">
          <div class="footer-logo">
            <img th:src="@{/img/logowhite.png}" alt="Poppin Party Logo">
            <p>POPPIN PARTY</p>
            <p>CELEBRATION NEEDS</p>
          </div>
          <div class="footer-section">
            <h3>CUSTOMER SERVICE</h3>
            <ul>
              <li><a th:href="@{'/admin/page'}">MAIN PAGE</a></li>
              <li><a th:href="@{/logout}">LOG-OUT</a></li>
            </ul>
          </div>
        <div class="copyright">
          © 2025 POPPIN PARTY CELEBRATION NEEDS™. ALL RIGHTS RESERVED
        </div>
    </footer>
</body>
</html>
